html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	position: relative;
	background-color: #3ea7e1;
	-webkit-text-size-adjust: none;
	font-family: Arial, Helvetica, Verdana;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
}
h1 {
	margin: 0 0 100px;
	text-shadow: 8px 10px 1px rgba(0,0,0,.1);
	text-transform: lowercase;
	font-family: 'Pacifico', Arial, sans-serif;
	font-weight: normal;
	font-size: 150px;
	line-height: 1;
	letter-spacing: -6px;
}

button.reset {
	appearance: none;
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	border: 0;
	background: none;
	outline: none;
	color: inherit;
	font-size: inherit;
	text-align: left;
	cursor: pointer;
}

@media (max-width: 500px) {
	h1 {
		font-size: 105px;
		letter-spacing: -2px;
	}
}

a,
a:hover {
	color: #fff;
	text-decoration: underline;
}

#page {
	max-width: 600px;
	min-width: 300px;
	width: 90%;
	padding: 100px 10px;
	margin: auto;
}

.xmpls {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 75px -10px;
}

.xmpl {
	position: relative;
	box-sizing: border-box;
	width: calc( 50% - 20px );
	padding-top: calc( 50% - 20px );
	margin: 10px;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 6px 8px 1px rgba(0,0,0,.1);
	transition: none 0.2s ease;
	transition-property: background-color, box-shadow, transform;
	text-align: center;
	cursor: pointer;
}
.xmpl:hover {
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 4px 6px 0 rgba(0,0,0,.15);
	transform: translateY(2px);
}

@media (min-width: 1280px) {
	.xmpls {
		margin-left: -320px;
		margin-right: -320px;
	}
	.xmpl {
		width: calc( 25% - 20px );
		padding-top: calc( 25% - 20px );
	}
}
.xmpl > button,
.xmpl > m-burger {
	--mb-cross-timeout: 0s;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.xmpl > span {
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
}

button.custom-button-1 {
	padding: 5px 25px 5px 15px;
	background-color: rgba( 255, 255, 255, 0.7 );
	color: #3ea7e1;
	border-radius: 30px;
	white-space: nowrap;
}
button.custom-button-1 .mburger {
	--mb-cross-timeout: 0s;
	--mb-button-size: 40px;
	--mb-bar-height: 3px;
	--mb-bar-spacing: 6px;
}
button.custom-button-2 {
	--mb-cross-timeout: 0s;
	--mb-button-size: 80px;
	--mb-bar-width: 0.5;
	--mb-bar-height: 2px;
	--mb-bar-spacing: 12px;

	background-color: rgba( 255, 255, 255, 0.7 );
	color: #3ea7e1;
}