:host([fx="spin"]) {
    //  Hamburger
    .bar {
        &--top {
            transition-delay: calc(var(--mb-animate-delay) + 0.2s),
                var(--mb-animate-delay);
        }

        &--middle {
            transition-duration: 0s;
            transition-delay: calc(var(--mb-animate-delay) + 0.2s);
        }

        &--bottom {
            transition-delay: calc(var(--mb-animate-delay) + 0.2s),
                var(--mb-animate-delay);
        }
    }

    //  Cross
    .is-cross .bar {
        &--top {
            transform: rotate(135deg);
            transition-delay: var(--mb-animate-delay),
                calc(var(--mb-animate-delay) + 0.2s);
        }

        &--middle {
            transition-delay: var(--mb-animate-delay);
        }

        &--bottom {
            transform: rotate(225deg);
            transition-delay: var(--mb-animate-delay),
                calc(var(--mb-animate-delay) + 0.2s);
        }
    }
}
