:host([fx="tornado"]) {
    //  Hamburger
    .bar {
        &--top {
            transition: bottom 0.2s ease, transform 0.2s ease;
            transition-delay: calc(var(--mb-animate-delay) + 0.2s);
        }

        &--middle {
            transition: opacity 0s ease, transform 0.2s ease;
            transition-delay: calc(var(--mb-animate-delay) + 0.1s),
                calc(var(--mb-animate-delay) + 0.1s);
        }

        &--bottom {
            transition: top 0.2s ease, transform 0.2s ease;
            transition-delay: var(--mb-animate-delay);
        }
    }

    // Cross
    .is-cross .bar {
        &--top {
            transform: rotate(-135deg);
            transition-delay: var(--mb-animate-delay);
        }

        &--middle {
            opacity: 0;
            transform: rotate(-135deg);
            transition-delay: calc(var(--mb-animate-delay) + 0.4s),
                calc(var(--mb-animate-delay) + 0.1s);
        }

        &--bottom {
            transform: rotate(-225deg);
            transition-delay: calc(var(--mb-animate-delay) + 0.2s);
        }
    }
}
