:host([fx="squeeze"]) {
    //  Hamburger
    .bar {
        &--top {
            transition-delay: 0.1s, 0s;
        }

        &--middle {
            transition-delay: 0.1s;
        }

        &--bottom {
            transition-delay: 0.1s, 0s;
        }
    }

    //  Cross
    .is-cross .bar {
        &--top {
            transition-delay: calc(var(--mb-animate-timeout) + 0s),
                calc(var(--mb-animate-timeout) + 0.1s);
        }

        &--middle {
            transition-delay: calc(var(--mb-animate-timeout) + 0s);
        }

        &--bottom {
            transition-delay: calc(var(--mb-animate-timeout) + 0s),
                calc(var(--mb-animate-timeout) + 0.1s);
        }
    }
}
