/** Selector for the button. */
$mb_module 					: ".mburger" 				!default;

/** Selector for the button with the "collapse" effect. */
$mb_module_collapse 		: "#{$mb_module}--collapse"	!default;

/** Selector for the button with the "spin" effect. */
$mb_module_spin 			: "#{$mb_module}--spin"		!default;

/** Selector for the button with the "squeeze" effect. */
$mb_module_squeeze 			: "#{$mb_module}--squeeze"	!default;

/** Selector for the button with the "tornado" effect. */
$mb_module_tornado 			: "#{$mb_module}--tornado"	!default;



/** Selector for the wrapper when the menu is opened. */
$mb__opened 				: ".mm-wrapper_opened"						!default;

/** Selector for the button when the menu is opened. */
$mb_module_opened 			: "#{$mb__opened} #{$mb_module}" 			!default;

/** Selector for the button with the "collapse" effect when the menu is opened. */
$mb_module_collapse_opened 	: "#{$mb__opened} #{$mb_module_collapse}" 	!default;

/** Selector for the button with the "spin" effect when the menu is opened. */
$mb_module_spin_opened 		: "#{$mb__opened} #{$mb_module_spin}" 		!default;

/** Selector for the button with the "squeeze" effect when the menu is opened. */
$mb_module_squeeze_opened 	: "#{$mb__opened} #{$mb_module_squeeze}" 	!default;

/** Selector for the button with the "tornado" effect when the menu is opened. */
$mb_module_tornado_opened 	: "#{$mb__opened} #{$mb_module_tornado}" 	!default;



/** Whether or not to include the CSS for the "collapse" animation. */
$mb_fx_collapse	: true !default;

/** Whether or not to include the CSS for the "spin" animation. */
$mb_fx_spin 	: true !default;

/** Whether or not to include the CSS for the "squeeze" animation. */
$mb_fx_squeeze	: true !default;

/** Whether or not to include the CSS for the "tornado" animation. */
$mb_fx_tornado	: true !default;