:root {
    /** Size for the button. */
    --mb-button-size: 60px;

    /** Width for the bars, relative to the button. */
    --mb-bar-width: 0.6;

    /** Height for the bars.*/
    --mb-bar-height: 4px;

    /** Distance between bars (approximately). */
    --mb-bar-spacing: 10px;

    /** Timeout before starting the "cross" animation, ensures the animation starts after the menu is fully opened. */
    --mb-cross-timeout: $mb_cross_timeout;
}

#{$mb_module} {
    //	Overridable values
    background: transparent;
    border: none;
    border-radius: 0;
    color: inherit;

    //	Button
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: var(--mb-button-size);
    padding: 0 0 0 var(--mb-button-size);
    margin: 0;
    line-height: var(--mb-button-size);
    vertical-align: middle;
    appearance: none;
    outline: none;
    cursor: pointer;

    //	Hamburger
    b {
        display: block;
        position: absolute;
        left: calc(var(--mb-button-size) * ((1 - var(--mb-bar-width)) / 2));
        width: calc(var(--mb-button-size) * var(--mb-bar-width));
        height: var(--mb-bar-height);
        border-radius: calc(var(--mb-bar-height) / 2);
        background: currentColor;
        color: inherit;
        opacity: 1;

        //	Bar 1
        &:nth-of-type(1) {
            bottom: calc(50% + var(--mb-bar-spacing));
            transition: bottom 0.2s ease, transform 0.2s ease;
        }

        //	Bar 2
        &:nth-of-type(2) {
            top: calc(50% - (var(--mb-bar-height) / 2));
            transition: opacity 0.2s ease;
        }

        //	Bar 3
        &:nth-of-type(3) {
            top: calc(50% + var(--mb-bar-spacing));
            transition: top 0.2s ease, transform 0.2s ease;
        }
    }

    //	Text
    span:not(:empty) {
        padding-right: calc(
            var(--mb-button-size) * ((1 - var(--mb-bar-width)) / 2)
        );
    }
}

//	Cross
#{$mb_module_opened} {
    b {
        &:nth-of-type(1) {
            bottom: calc(50% - (var(--mb-bar-height) / 2));
            transform: rotate(45deg);
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:nth-of-type(3) {
            top: calc(50% - (var(--mb-bar-height) / 2));
            transform: rotate(-45deg);
        }
    }
}
