//	Hamburger
#{$mb_module_tornado} {
  b {
    &:nth-of-type(1) {
      transition: bottom 0.2s ease, transform 0.2s ease;
      transition-delay: 0.2s;
    }
    &:nth-of-type(2) {
      transition: opacity 0s ease, transform 0.2s ease;
      transition-delay: 0.1s, 0.1s;
    }
    &:nth-of-type(3) {
      transition: top 0.2s ease, transform 0.2s ease;
      transition-delay: 0s;
    }
  }
}

//	Cross
#{$mb_module_tornado_cross} {
  b {
    &:nth-of-type(1) {
      transform: rotate(-135deg);
      transition-delay: calc(var(--mb-animate-timeout) + 0s);
    }
    &:nth-of-type(2) {
      opacity: 0;
      transform: rotate(-135deg);
      transition-delay: calc(var(--mb-animate-timeout) + 0.4s),
        calc(var(--mb-animate-timeout) + 0.1s);
    }
    &:nth-of-type(3) {
      transform: rotate(-225deg);
      transition-delay: calc(var(--mb-animate-timeout) + 0.2s);
    }
  }
}
