@if ($mb_fx_spin) {
    //	Hamburger
    #{$mb_module_spin} {
        b {
            &:nth-of-type(1) {
                transition-delay: 0.2s, 0s;
            }
            &:nth-of-type(2) {
                transition-duration: 0s;
                transition-delay: 0.2s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.2s, 0s;
            }
        }
    }

    //	Cross
    #{$mb_module_spin_cross} {
        b {
            &:nth-of-type(1) {
                transform: rotate(135deg);
                transition-delay: calc(var(--mb-animate-timeout) + 0s),
                    calc(var(--mb-animate-timeout) + 0.2s);
            }
            &:nth-of-type(2) {
                transition-delay: calc(var(--mb-animate-timeout) + 0s);
            }
            &:nth-of-type(3) {
                transform: rotate(225deg);
                transition-delay: calc(var(--mb-animate-timeout) + 0s),
                    calc(var(--mb-animate-timeout) + 0.2s);
            }
        }
    }
}
